:root {
  --primary-color: #f96d00;
  --secondary-color: black;
  --accent-color: #393e46;
}
body {
  color: white;
  background-color: var(--secondary-color);
}

.bg-other {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: -1;
}
.img-project {
  opacity: 81%;
}
.bg-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;

  z-index: -1;
  height: 100%;
  opacity: 50%;
  filter: brightness(45%) contrast(114%);
}

.anim-typewriter {
  animation: typing 3.5s steps(18), blink 1s step-end infinite alternate;
  color: var(--primary-color);

  top: 50%;
  width: 35ch;
  margin: 0 auto;
  border-right: 3px solid var(--primary-color);
  overflow: hidden;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.row {
  justify-content: center;
}

.col-sm-6 {
  width: 31%;
}

.hero {
  text-align: center;
  margin-top: 183px;
}
.about-me-card {
  background: transparent;

  color: white;
  overflow: hidden;
}

.profile-image {
  height: 330px;
  margin-left: 2px;
  border-radius: 50%;
  max-width: 350px;
}
.about-paragraph {
  margin-top: 100px;
}
h1 {
  font-size: 96px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h2 {
  font-family: monospace;
  font-size: 28px;
  text-align: center;
}
h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 29px;
}
h6 {
  font-size: 14px;
}
hr {
  color: var(--primary-color);
}
.btn {
  background-color: transparent;
  margin-top: 15px;
  color: var(--primary-color);
  font-size: large;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 15px 7px;
}
.btn:hover {
  background-color: var(--primary-color);
  color: black;
}
.contact-card {
  background-color: var(--primary-color);
}

.icon {
  font-size: 40px;
  text-align: center;
}
.navbar-brand {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.navbar {
  background-color: var(--secondary-color);
}
.navbar-nav {
  margin-left: 300px;
}
.nav-link {
  margin-right: 50px;
  transition: 0.4s all ease;
}
.nav-link:hover {
  cursor: pointer;
  color: var(--primary-color);
}

p {
  font-size: 18px;
  line-height: 1.5;
}
.fa-brands {
  transition: all 200ms ease-in-out;
}
.fa-brands:hover {
  margin-right: 15px;
  margin-left: 15px;
  font-size: larger;
  color: var(--primary-color);
}
.email-link {
  color: white;
}
.email-link:hover {
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.skill-tool {
  aspect-ratio: 3/2;
  object-fit: contain;
}
footer {
  margin-top: 20px;
}
@media (max-width: 600px) {
  body {
    max-height: max-content;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 30px;
    text-align: center;
  }

  hr {
    font-weight: 900;
    font-size: larger;
  }
  .img-project {
    display: none;
  }
  .profile-image {
    margin-left: 0;
    height: 265px;
    max-width: 278px;
    border-radius: 0;
  }

  .learn-more {
    margin: 0 auto;
    display: block;
  }
  .about-paragraph {
    margin-top: 15px;
    text-align: center;
  }

  .skill_card {
    border: none;
  }

  .project-image {
    display: none;
  }
  .col-sm-6 {
    width: max-content;
  }
  .contact-card {
    margin: 6px;
  }
  .contact-info {
    margin: 19px;
    font-size: larger;
    font-weight: 900;
  }
  .bg-other {
    height: 100%;
  }
  footer {
    margin-top: 200px;
  }
}
